.board {
    width: 200px;
    height: 200px;
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.board button {
    background-color: azure;
}

.board .o {
    background-color: teal;
}

.board .x {
    background-color: tomato;
}