.board {
    margin-top: 50px;
    width: 200px;
    height: 200px;
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    margin: 10px;
    margin-bottom: 20px;
    gap: 5px;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    flex-grow: 1;
}

label {
    font-weight: bold;
}

.board button {
    background-color: azure;
    color: black;
    font-weight: bold;
    font-size: 1.8rem;
    -webkit-text-stroke-width: 1px; /* Adjust the width of the outline */
    -webkit-text-stroke-color: white; 
}

.board .o {
    background-color: rgb(102, 221, 221);
}

.board .x {
    background-color: rgb(223, 136, 65);
}


.menu, .game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    background-color: cornsilk;
    border: 5px solid rgb(143, 73, 33);
    border-radius: 5px;
    height: 400px;
    width: 400px;
}

.menu input {
    margin-bottom: 15px;
}

h1 {
    margin-bottom: 40px;
}

h2 {
    margin: 10px;
}

.footer {
    margin-top: auto;
    height: 20px;
}

body,html {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}