.board {
    width: 200px;
    height: 200px;
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    margin: 20px;
    gap: 5px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.board button {
    background-color: azure;
}

.board .o {
    background-color: rgb(102, 221, 221);
}

.board .x {
    background-color: rgb(223, 136, 65);
}


